<tr>
	<td>:ID</td>
	<td><a href=":URL">image</a></td>
	<td>:FLAGS</td>
	<td><form method="post" action="index.php">
		<input type="hidden" id="id" value=":ID">
		<input type="submit" id="action" value="Delete">
		<input type="submit" id="action" value="Clear">
	</form></td>
</tr>