<tr>
	<td>:ID</td>
	<td><a href=":URL">image</a></td>
	<td>:FLAGS</td>
	<td><form method="POST" action="index.php?ignored=1">
		<input type="hidden" name="id" value=":ID">
		<input type="submit" name="delete" value="Delete">
		<input type="submit" name="unignore" value="Un-ignore">
	</form></td>
</tr>